<% @book.errors.any %>
  <%= @book.errors.count %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="book-edit coi-11">
      <h3>Editing book</h3>
      <%= form_with model: @book do |f| %>
        <div class="form-item px-auto">
          <label for="inputTitle">Title</label><br>
          <%= f.text_field :title, id:"inputTitle" %>
        </div>
        <div class="form-item px-auto">
          <label for="inputBody">Opinion</label><br>
          <%= f.text_area :body, id:"inputBody" %>
        </div>
        <%= f.submit'Update Book', class:"btn btn-lg btn-success rounded" %>
      <% end %>
      <%= link_to'Show', book_path(@book.id) %>|
      <%= link_to'Back', books_path %>
    </div>
  </div>
</div>